.books-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 30px;
}

.book {
    width: 130px;
    height: 190px;
    box-shadow: 1px 1px 5px gray;
}

.book img {
    height: 100%;
    width: 100%;
}

.info-popup {
    display: none;
}

.info-popup.show {
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: gray;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: normal;
}

.info-popup > p {
    padding-bottom: 7px;
}

.bold {
    font-weight: bolder;
}