.books-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 30px;
}

.book {
    position: relative;
    width: 130px;
    height: 190px;
    box-shadow: 1px 1px 5px gray;
}

.book img {
    height: 100%;
    width: 100%;
}

.delete-btn {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 10px gray;
}

.info-popup {
    display: none;
    z-index: 1;
}

.info-popup.show {
    display: block;
    margin-top: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 50px;
    background-color: gray;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    line-height: 1.4;
    letter-spacing: 1px;
    font-weight: normal;
}

.info-popup > p {
    padding-bottom: 7px;
}

.bold {
    font-weight: bolder;
}

.add-to-category {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.add-to-category>button:hover {
    background-color: pink;
}

.add-to-category > button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
}