@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-height: 70px;
    --nav-border-bottom: 7px;
    --grey-color: rgb(178, 178, 178);
    font-family: Lato;
    font-weight: bold;
    font-size: larger;
}

main {
    position: absolute;
    /* top: var(--nav-height); */
    top: calc(var(--nav-height) + 300px);
    width: 100%;
}

@media screen and (min-width: 800px) {
    main {
        top: 70px;
    }
}